.app{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 100vh;
}


.app__dark {
    padding-top: 100px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.app__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 60px;
    background-color: beige;
    border-radius: 5px;
}

.app__form > input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.app__form__dark > input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.app__form__dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 60px;
    background-color: rgb(77, 77, 77);
    border-radius: 5px;
}